[ProxySettings]
# Time in seconds (5 minutes) to blacklist failing proxies
use_proxies = true
proxy_file = proxies.txt
direct_fallback = true
max_failures = 3
blacklist_time = 300

[ApiSettings]
# Requests per minute per IP address
enable_rate_limit = true
rate_limit = 5